backtrader==1.9.76.123
beautifulsoup4==4.9.3
bs4==0.0.1
crispy-forms-semantic-ui==0.2.0
Django==3.2.4
django-crispy-forms==1.13.0
django-heroku==0.3.1
django-ipware==4.0.2
django-pwa==1.0.10
django-taggit==1.5.1
gunicorn==20.0.4
matplotlib==3.2.2
numpy==1.22.2
pandas==1.2.4
rake-nltk==1.0.6
requests==2.25.1
scikit-learn==1.0.1
yfinance==0.1.63
Pillow
