body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 16px;
    line-height: 1.6em;
    min-width: 320px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    color: #222;
    letter-spacing: 0;
}

h1 {
    font-size: 4rem;
}

h1.large {
    font-size: 5rem;
    line-height: 6.2rem;
}

h2 {
    font-size: 	2.2rem;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

h4 {
    font-size: 1.5rem;
}

h4.title{
	font-size: 2.2rem;
}

p {
    margin: 0 0 10px 0;
}

section {
    margin-bottom: 45px;
}

ul,
ol {
    margin-bottom: 15px;
}

ul li,
ol li {
    margin-bottom: 5px;
}

.chapter-sidebar > ul li,
.chapter-sidebar > ol li {
    margin: 16px 0px;
}
a {
    text-decoration: none;
    color: #222;
}

a:hover {
    color: #1669C9;
}

a img {
    border: 0;
}

.alignleft {
    float: left;
    margin: 5px 10px 5px 0;
}

.alignright {
    float: right;
    margin: 5px 0 5px 10px;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 10px auto;
    text-align: center;
}

img.alignleft {
    float: left;
    margin: 5px 10px 5px 0;
}

img.alignright {
    float: right;
    margin: 5px 0 5px 10px;
}

img.aligncenter {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.wp-caption {
    box-shadow: 1px 1px 0 #f3f3f3;
    border: 1px solid #e7e7e7;
    padding: 15px;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 30px !important;
    width: auto !important;
}

.wp-caption img {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    max-width: 100% !important;
}

.wp-caption p.wp-caption-text {
    color: #999;
    margin: 0;
    padding: 0 4px 5px;
}

.noul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clear {
    clear: both;
    line-height: 0;
    padding: 0;
    margin: 0;
}

.small {
    font-size: .85em;
}

.text-small {
    font-size: .84em;
    line-height: 2.1rem;
    color: #777;
}

.text-tiny {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #777;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right;
}

.avatar {
    overflow: hidden;
    border-radius: 50%;
    vertical-align: middle;
}

.button.button-primary {
    background: #1669C9;
    border: 0;
    border-radius: 50px;
}

.button.button-primary:hover {
    background: #222;
}

input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    background: #1669c9;
}

.columns img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
}

.user-nav {
    font-size: .75em;
    text-transform: uppercase;
    text-align: right;
}

.user-nav a {
    margin-left: 15px;
}

#header {
    background: #fff;
    padding: 15px 0;
    margin-bottom: 60px;
    position: relative;
    box-shadow: 2px 1px 2px #eee;
}

#header .intro img {
    max-width: 100%;
}

#header .searchform {
    margin: 5px 0 0 0;
    text-align: right;
}

#header .searchform .submit {
    display: none;
}

#header .searchform input.q:focus {
    width: 200px;
    border-bottom: 1px solid #eee;
}

#header .searchform .q:focus {
    border-color: #ccc;
}

#header .menu {
    position: absolute;
    right: 0;
    top: 5px;
}

#header .menu .burger {
    font-size: 2.5em;
    display: inline-block;
    line-height: .55em;
    display: block;
    text-align: right;
    color: #999;
}

#header .menu .burger:hover {
    color: #1669C9;
}

#header .logo-small {
    display: none;
}

.copyright {
    padding: 20px 0 0 0;
    text-align: center;
}

.intro {
    min-height: 50vh;
}

.intro .subtitle {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #888;
}

.intro .buttons {
    margin-top: 45px;
}

.intro .buttons a {
    display: inline-block;
}

.intro .buttons a:not(:last-child) {
    margin-right: 15px;
}

.intro .buttons img {
    height: auto;
    max-width: 125px;
}

.bio {
    margin-top: 45px;
    max-width: 400px;
}

.bio .avatar {
    display: inline-block;
    max-width: 64px;
    float: left;
    margin-right: 30px;
}

#module-nav {
    background: rgba(255, 255, 255, .85);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;
    min-width: 320px;
}

#module-nav .user-nav {
    margin-bottom: 15px;
}

#module-nav .module-nav-content {
    background: #fff;
    margin: 60px;
    padding: 30px 60px 60px 60px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 6px #efefef;
}

#module-nav .modules-list ul {
    column-count: 4;
}

#module-nav .modules-list .module {
    border-top: 5px solid #eee;
    padding-top: 10px;
    break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 45px;
}

#module-nav .modules-list .module .description {
    display: none;
}

#module-nav .modules-list .module .title {
    margin: 0;
}

#module-nav .close {
    float: right;
}

.rupeetales {
    position: relative;
    margin-bottom: 90px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 6px #efefef;
    padding: 30px;
}

.rupeetales .press {
    text-align: center;
    margin-top: 30px;
}

.rupeetales .press a {
    display: inline-block;
    margin: 0 10px;
}

.rupeetales .press img {
    opacity: 0.3;
    width: auto;
    height: 64px;
}

section.modules ul {
    column-count: 3;
    column-gap: 40px;
    column-fill: balance;
}

section.modules .module {
    border-top: 5px solid #eee;
    margin-bottom: 30px;
    break-inside: avoid;
    page-break-inside: avoid;
    padding-top: 15px;
    height: 220px;
}

section.modules .module .title {
    margin: 0;
}

section.modules .languages {
    font-size: 0.85em;
    margin-top: 15px;
}

section.modules .languages a {
    background: #E0EEFF;
    margin-right: 15px;
    display: inline-block;
    padding: 0px 15px;
    border-radius: 3px;
    color: #1669C9;
    border: 1px solid #C0DCFD;
}

section.modules .languages a:hover {
    color: #000;
}

#homepage .recent .title {
    margin: 0;
}

#homepage .recent-updates li {
    margin-bottom: 25px;
    padding: 15px;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: #eee;
}

#homepage .recent-updates .label a {
    color: #888;
}

#homepage .app-banner {
    display: inline;
    width: 100%;
}

#homepage .app-banner-responsive {
    display: none;
}

#homepage .recent-comments {}

#homepage .recent-comments li {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 6px #efefef;
    border-radius: 3px;
}

#homepage .recent-comments .author {
    font-weight: 700;
}

#homepage .recent-comments .post-title {
    display: block;
}

#homepage .recent-comments .description {
    margin: 10px 0 15px 0;
}

.single-module header {
    margin-bottom: 45px;
}

.single-module .chapter-list .item {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.single-module .chapter-list .title {
    margin: 0 0 10px 0;
}

.single-module .thumb {
    display: block;
    margin-top: 15vh;
}

.single-chapter header {
    margin-bottom: 60px;
}


/* Chapter post body */

.post p {
    margin: 0 0 15px 0;
}

.post ul,
.post ol {
    margin: 0 0 15px 0;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5 {
    margin: 25px 0 15px 0;
}

.single-chapter img {
    height: auto;
    max-width: 100%;
}

.post table {
    width: 100%;
    font-size: .875em;
    margin: 20px 0 45px 0;
    border-radius: 3px;
    overflow: hidden;
}

.post table th {
    background: #222;
    color: #fff;
    font-size: .875em;
}

.post table th,
.post table td {
    text-align: center;
    padding: 3px 6px;
}

.post table tr:hover td {
    background: #eee;
}

.chapter-sidebar {
    position: sticky;
    top: 0;
    padding: 30px 30px 30px 15px;
    font-size: 0.875em;
    list-style-type: none;
    min-height: 100vh;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ddd;
}

.chapter-sidebar .hide {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 0.875em;
}

.chapter-sidebar .num {
    display: block;
    margin-right: 4px;
    float: left;
}

.chapter-sidebar .selected {
    font-weight: bold;
    color: #1669C9;
}

.chapter-sidebar .selected a {
    font-weight: bold;
    color: #1669C9;
}

.chapter-toggle {
    margin-bottom: 15px;
}

.chapter-body.hidden .chapter-sidebar {
    display: none;
}

.chapter-body.hidden .chapter-toggle {
    display: block;
}

.chapter-body.visible .chapter-sidebar {
    display: block;
}

.chapter-body.visible .chapter-toggle {
    display: none;
}

section.comments {
    margin-top: 90px;
}

#respond {
    margin-top: 30px;
}

#respond textarea {
    width: 100%;
    min-height: 200px;
}

.commentlist li {
    list-style-type: none;
}

.commentlist>li.comment {
    margin-bottom: 15px;
}

.commentlist .comment-body {
    border-bottom: 2px solid #f2f2f2;
    padding: 15px 0;
}

.commentlist li .avatar {
    padding: 2px;
}

.commentlist .comment-meta {
    margin-bottom: 10px;
    color: #999;
}

.commentlist .comment-meta a {
    color: #999;
}

.commentlist cite {
    font-weight: 500;
    font-style: normal;
}

.commentlist li .comment-reply-link {
    color: #428bca;
}

.commentlist li a:hover {
    color: #222;
}

.commentlist .comment-body {
    font-size: 13px;
}

.commentlist ul {
    margin: 0 0 0 10px;
}

.innerworth {
    width: 100%;
    font-size: 0.875em;
}

.innerworth td {
    vertical-align: top;
    padding: 5px 0;
    border-color: #eee;
}

.innerworth tr:hover td {
    background: #f9f9f9;
}

.innerworth .desc {
    font-size: 0.875em;
    line-height: 1.3em;
    color: #999;
}

.innerworth a {
    font-weight: bold;
}

#footer {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin: 15px 30px;
    font-size: .9em;
}

#footer .buttons {
    text-align: right;
}

#footer .buttons img {
    max-height: 28px;
}


/* ________________________________________________________ */

.bigpic img {
    height: auto;
    max-width: 100%;
}

.module-tag {
    border-radius: 3px;
    padding: 0 15px;
    display: inline-block;
    margin-bottom: 10px;
    color: #222;
}

.comment-count .num {
    position: relative;
    background-color: #bbb;
    color: #fff;
    text-align: center;
    font-weight: 500;
    line-height: 1em;
    font-size: 1rem;
    border-radius: 5px;
    padding: 4px 5px 0 5px;
    height: 15px;
    display: inline-block;
    min-width: 25px;
}

.comment-count .num:after {
    border: 6px solid #bbb;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -6px;
    right: 0;
    content: "";
}

.comment-count:hover .num {
    background: #222;
}

.comment-count:hover .num:after {
    border-left-color: #222;
}

.comment-count .num a {
    color: #fff;
}

#sitemap ul {
    list-style-type: none;
}

#sitemap .cat .sitemap,
#sitemap .cat .posts {
    margin-left: 30px;
}

#sitemap>ul {
    margin: 0;
    padding: 0;
}

#sitemap ul ul {
    margin: 0 0 15px 0;
}

#sitemap ul ul h2 {
    font-size: 22px;
}

#sitemap .posts li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2px;
    padding-bottom: 2px;
}


/* ________________________________________________________ */

@media screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
    #module-nav .module-nav-content {
        padding: 15px;
        margin: 15px;
    }
    #module-nav .modules-list ul {
        column-count: 1;
    }
    section.modules .module {
        min-height: 0;
    }
}

@media screen and (max-width: 700px) {
    h1.large{
        font-size: 2.6rem;
        line-height: 3rem;
    }
    #header {
        border: 0;
        padding: 15px 0;
    }
    #header .searchform {
        display: none;
    }
    .user-nav.global {
        display: none;
    }
    #module-nav .user-nav {
        display: block;
    }
    section.modules ul {
        column-count: auto;
        column-gap: 0;
    }
    .columns {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .recent {
        display: none;
    }
    .rupeetales .press {
        display: none;
    }
    .promo {
        margin-top: 30px;
        text-align: center;
    }
    #homepage .app-banner {
        display: none;
    }
    #homepage .app-banner-responsive {
        display: inline;
        width: 100%;
    }
    /* Responsive embedded chapter nav */
    .single-chapter header {
        margin-bottom: 15px;
    }
    .chapter-sidebar {
        position: relative;
        margin-bottom: 30px;
        border-right: 0;
        height: auto;
        min-height: 0;
        display: none;
    }
    #footer .buttons {
        text-align: center;
    }
}