{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% if watchlist %}
{% for key in data %}
<style>
	.text-red {
		color: #d82f44;
	}

	.text-red:before {
		color: #d82f44;
	}

	.text-green {
		color: #19af55;
	}

	.text-green:before {
		color: #19af55;
	}

	.font-medium {
		font-style: normal;
		font-stretch: normal;
		font-weight: normal;
	}

	.price-change {
		font-size: 11px
	}

	.label {
		font-size: 11px;
		margin-bottom: 6px
	}

	.icon-caret {
		position: relative;
		top: -4px;
		margin-right: 4px
	}

	.icon-caret_down:before {
		content: "\e905" !important;
		color: #d82f44 !important;
	}

	.icon-caret_up:before {
		content: "\e906" !important;
		color: #19af55 !important;
	}
</style>
<div class="ui message"
	style="display: flex;flex-direction: revert; align-items: flex-end;justify-content: space-between;">
	<div class="stockName"><b>{{key.stock.name}}</b></div>
	<div class="price">
		{% if key.price.percentageChange < 0 %} <h3 class="mb4"><span class="font-medium text-red">₹&nbsp;<span
					id="currentPrice">{{key.price.price|floatformat:2}}</span></span><span
				class="price-change font-medium text-red">&#9660;<span
					id="currentPriceChange">{{key.price.change|floatformat:2}}</span></span><span
				class="label font-medium text-red">&nbsp;(<span
					id="currentPriceChangePercent">{{key.price.percentageChange|floatformat:2}}</span>%)</span>
			</h3>
			{% else %}
			<h3 class="mb4"><span class="font-medium text-green">₹&nbsp;<span
						id="currentPrice">{{key.price.price}}</span></span><span
					class="price-change font-medium text-green">&#9650;<span
						id="currentPriceChange">{{key.price.change}}</span></span><span
					class="label font-medium text-green">&nbsp;(<span
						id="currentPriceChangePercent">{{key.price.percentageChange}}</span>%)</span>
			</h3>
			{% endif %}
	</div>
</div>
{% empty %}
<div class="ui message">
	<div class="header">You have no stocks in your watchlist.</div>
</div>
{% endfor %}
{% else %}
<div class="ui message">
	<div class="header">You have no stocks in your watchlist.</div>
</div>
{% endif %}
{% endblock %}
