<html>

<head>
	<title>Place Order for {{stock_name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
	body {
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background: radial-gradient(1q, rgba(0, 0, 0, 0.2) 1q, rgba(0, 0, 0, 0) 2q) 0px 0px / 24px 24px;
	}
</style>

<body>
	<p class="sc-embed" data-width="300px"
		data-orders="%5B%7B%22quantity%22%3A10%2C%22ticker%22%3A%22{{stock_name}}%22%7D%5D" data-cardsize="small"
		data-withtt="false" data-withsearch="false"
		style="width:300px;min-height:400px;display:flex;align-items:center;justify-content:center"> <strong>loading
			widget
			to trade DMART</strong> </p>
	<script async src="https://www.gateway-tt.in/assets/embed.js"></script>
</body>

</html>